<!Doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Tesluj</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>
<body>
<header>
<section>
<h1>Tesluj<br></<h1>
</section>
</header>
<nav>
    <ul>
        <li class="menubar"><a href="index.html">Novinky</a></li>
        <li class="menubar"><a href="otesle.html">O Tesle</a></li>
        <li class="menubar"><a href="vozy.html">Vozy</a></li>
        <li class="menubar"><a href="diskuze.html">Diskuze</a></li>
        <li class="menubar"><a href="nabidka_vozu.html">Nabídka vozů</a></li>
        <li class="menubar"><a href="owebu.html">O webu</a></li>
    </ul>
</nav>
    </header>
    <hr>
    <section>
        <h2> <div class="category">Vozy</div></h2>
            <p class="text">V tomto magazínu se dočtete <em>nejaktuálnější informace</em> o Tesle.</p>
        </section>
    <hr>

<hr>
<h2><div class="modelnazev">Model S</h2>
    <h4><div class="modelinfo">Sedan od Tesly</h4>
    <p><div class="modeltext">Model S je od základu navržen jako elektromobil - s vysokopevnostní architekturou a akumulátorem instalovaným v podlaze pro mimořádnou ochranu proti nárazu.</p>
    <ul>
        <li><b>Dojezd:</b> 610km</li>
        <li><b>Zrychlení z 0-100km/h:</b> 2,6s</li>
        <li><b>Maximální rychlost:</b> 261km/h</li>
    </ul>

<h2><div class="modelnazev">Model 3</h2>
    <h4><div class="modelinfo">Sedan od Tesly</h4>
    <p><div class="modeltext">Model S je od základu navržen jako elektromobil - s vysokopevnostní architekturou a akumulátorem instalovaným v podlaze pro mimořádnou ochranu proti nárazu.</p>
    <ul>
        <li><b>Dojezd:</b> 610km</li>
        <li><b>Zrychlení z 0-100km/h:</b> 2,6s</li>
        <li><b>Maximální rychlost:</b> 261km/h</li>
    </ul>
<h2><div class="modelnazev">Model X</h2>
    <h4><div class="modelinfo">Sedan od Tesly</h4>
    <p><div class="modeltext">Model S je od základu navržen jako elektromobil - s vysokopevnostní architekturou a akumulátorem instalovaným v podlaze pro mimořádnou ochranu proti nárazu.</p>
    <ul>
        <li><b>Dojezd:</b> 610km</li>
        <li><b>Zrychlení z 0-100km/h:</b> 2,6s</li>
        <li><b>Maximální rychlost:</b> 261km/h</li>
    </ul>
<h2><div class="modelnazev">Model Y</h2>
    <h4><div class="modelinfo">Sedan od Tesly</h4>
    <p><div class="modeltext">Model S je od základu navržen jako elektromobil - s vysokopevnostní architekturou a akumulátorem instalovaným v podlaze pro mimořádnou ochranu proti nárazu.</p>
    <ul>
        <li><b>Dojezd:</b> 610km</li>
        <li><b>Zrychlení z 0-100km/h:</b> 2,6s</li>
        <li><b>Maximální rychlost:</b> 261km/h</li>
    </ul>
<h2><div class="modelnazev">Roadster</h2>
    <h4><div class="modelinfo">Sedan od Tesly</h4>
    <p><div class="modeltext">Model S je od základu navržen jako elektromobil - s vysokopevnostní architekturou a akumulátorem instalovaným v podlaze pro mimořádnou ochranu proti nárazu.</p>
    <ul>
        <li><b>Dojezd:</b> 610km</li>
        <li><b>Zrychlení z 0-100km/h:</b> 2,6s</li>
        <li><b>Maximální rychlost:</b> 261km/h</li>
    </ul>
    <footer>
        <p></p>
        <nav>
        <ul>
            <li><a href:"/">Previous</a></li>
            <li><a href:"/">Next</a></li>
            </ul>
        <ul>
            <li>Telefon: <span class="tel">732665832</li>
            <li>Adresa: <span class="adress">Litvínov</li>
        </ul>
    <p><small>Copyright &copy;2017 Jakub Hladik. </small></p>
        </nav>
    </footer>
    </body>
    </html>
